<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="Oboge Guest House" content="Hotel Management System" />
    <meta name="Mike Teddy Omondi" content="Founder, Rancko Solutions LLC" />
    <!-- <link
      rel="shortcut icon"
      href="../../assets/favicon.ico"
      type="image/x-icon"
      sizes=""
    /> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    /> -->
    <title><%= title %> | Oboge Guest House</title>

    <!-- Bootstrap Core CSS -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="/admin/css/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/admin/css/startmin.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link
      href="/admin/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  </head>

  <body>
    <div id="#" class="container"><%- body %></div>

    <!-- jQuery -->
    <script src="/admin/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/admin/js/startmin.js"></script>

    <!-- Custom Javascript | Main file -->
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
