<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta http-equiv="refresh" content="1800" />
		<meta name="Oboge Guest House" content="Hotel Management System" />
		<meta name="Mike Teddy Omondi" content="Founder, Rancko Solutions LLC" />

		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
		<!-- <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    /> -->
		<title><%= title %> | Oboge Guest House</title>

		<!-- Bootstrap Core CSS -->
		<link href="/admin/css/bootstrap.min.css" rel="stylesheet" />

		<!-- MetisMenu CSS -->
		<link href="/admin/css/metisMenu.min.css" rel="stylesheet" />

		<!-- Custom CSS -->
		<link href="/admin/css/startmin.css" rel="stylesheet" />

		<!-- Custom Fonts -->
		<link
			href="/admin/css/font-awesome.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
	</head>

	<body>
		<div id="#" class="container">
			<div id="wrapper">
				<!-- Navigation -->
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="navbar-header">
						<a class="navbar-brand" href="/admin/dashboard"
							>Oboge Guest House</a
						>
					</div>

					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target=".navbar-collapse"
					>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<ul class="nav navbar-nav navbar-left navbar-top-links">
						<li>
							<a href="/admin/dashboard"
								><i class="fa fa-home fa-fw"></i> Dashboard</a
							>
						</li>
					</ul>

					<ul class="nav navbar-right navbar-top-links">
						<li class="dropdown navbar-inverse">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu dropdown-alerts">
								<li>
									<a href="#">
										<div>
											<i class="fa fa-comment fa-fw"></i> New Booking
											<span class="pull-right text-muted small"
												>4 minutes ago</span
											>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<i class="fa fa-twitter fa-fw"></i> 3 New Bar Order
											<span class="pull-right text-muted small"
												>12 minutes ago</span
											>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<i class="fa fa-envelope fa-fw"></i> Message Sent
											<span class="pull-right text-muted small"
												>4 minutes ago</span
											>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<i class="fa fa-tasks fa-fw"></i> New Laundry Request
											<span class="pull-right text-muted small"
												>4 minutes ago</span
											>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div>
											<i class="fa fa-upload fa-fw"></i> Server Rebooted
											<span class="pull-right text-muted small"
												>4 minutes ago</span
											>
										</div>
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a class="text-center" href="#">
										<strong>See All Notifications</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-user fa-fw"></i>
								<%= user.name %> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li>
									<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
								</li>
								<li>
									<a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/users/logout"
										><i class="fa fa-sign-out fa-fw"></i> Logout</a
									>
								</li>
							</ul>
						</li>
					</ul>
					<!-- /.navbar-top-links -->

					<div class="navbar-default sidebar" role="navigation">
						<div class="sidebar-nav navbar-collapse">
							<ul class="nav" id="side-menu">
								<li class="sidebar-search">
									<div class="input-group custom-search-form">
										<input
											type="text"
											class="form-control"
											placeholder="Search..."
										/>
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
									<!-- /input-group -->
								</li>
								<li>
									<a href="/admin/dashboard" class="active"
										><i class="fa fa-dashboard fa-fw"></i> Dashboard</a
									>
								</li>
								<li>
									<a href="#"
										><i class="fa fa-user fa-fw"></i> Administration
										<span class="fa arrow"></span
									></a>
									<ul class="nav nav-second-level">
										<li>
											<a href="/admin/users"> Add User </a>
										</li>
										<li>
											<a href="/admin/add-customers"> Add Customer </a>
										</li>
										<li>
											<a href="/admin/add-room-booking"> Add Booking | Accomodation </a>
										</li>
										<li>
											<a href="/admin/add-room-info"> Add Room | Information </a>
										</li>
										<li>
											<a href="/admin/add-bar-drink"> Add Bar Drink | Menu </a>
										</li>
										<li>
											<a href="/admin/add-bar-order"> Add Bar Order </a>
										</li>
										<li>
											<a href="/admin/add-restaurant-menu">
												Add Restaurant Food | Menu
											</a>
										</li>
										<li>
											<a href="/admin/add-restaurant-order">
												Add Restaurant Order
											</a>
										</li>
										<li>
											<a href="/admin/add-room-cleaning-request">
												Add Room Cleaning Request
											</a>
										</li>
										<li>
											<a href="/admin/add-laundry-cleaning-request">
												Add Laundry Cleaning Request
											</a>
										</li>
										<li>
											<a href="/admin/add-facility-booking">
												Add Facility Booking
											</a>
										</li>
										<li>
											<a href="/admin/facility-info">
												Add Facility Information
											</a>
										</li>
									</ul>
									<!-- /.nav-second-level -->
								</li>
								<li>
									<a href="#"
										><i class="fa fa-building fa-fw"></i> Stock Control
										<span class="fa arrow"></span
									></a>
									<ul class="nav nav-second-level">
										<li>
											<a href="#">Bar <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/bar-purchases">Bar Purchases (Stock In)</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"> Restaurant <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/restaurant-purchases">
														Restaurant Purchases (Stock In)
													</a>
												</li>
												<li>
													<a href="/admin/restaurant-menu">Restaurant Menu</a>
												</li>
											</ul>
										</li>
									</ul>
									<!-- /.nav-second-level -->
								</li>
								<li>
									<a href="#"
										><i class="fa fa-file fa-fw"></i> Reports
										<span class="fa arrow"></span
									></a>
									<ul class="nav nav-second-level">
										<li>
											<a href="#"
												>Bookings & Accomodation <span class="fa arrow"></span
											></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/booked-customers">Booked Customers</a>
												</li>
												<li>
													<a href="/admin/rooms-booked">Rooms Booked</a>
												</li>
												<li>
													<a href="/admin/cancelled-bookings"
														>Cancelled Bookings</a
													>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Bar <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/bar-sales">Orders & Sales</a>
												</li>
												<li>
													<a href="/admin/bar-menu">Bar Menu</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"> Restaurant <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/restaurant-sales">Orders & Sales</a>
												</li>
												<li>
													<a href="/admin/restaurant-menu">Restaurant Menu</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"> Rooms <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/cleaning-requests"
														>Cleaning Requests</a
													>
												</li>
												<li>
													<a href="/admin/room-info">Rooms Information</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#"> Laundry Cleaning Requests </a>
										</li>
										<li>
											<a href="#"> Facilities <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="/admin/booked-facilities"
														>Booked Facilities</a
													>
												</li>
												<li>
													<a href="/admin/facilities-info"
														>Facilities Information</a
													>
												</li>
											</ul>
										</li>
									</ul>
									<!-- /.nav-second-level -->
								</li>
								<li>
									<a href="#"
										><i class="fa fa-wrench fa-fw"></i> Settings
										<span class="fa arrow"></span
									></a>
									<ul class="nav nav-second-level">
										<li>
											<a href="#"> Edit <span class="fa arrow"></span></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="#">Users Profile</a>
												</li>
												<li>
													<a href="#">Customer Information</a>
												</li>
												<li>
													<a href="#">Room Information</a>
												</li>
												<li>
													<a href="#">Room Bookings</a>
												</li>
												<li>
													<a href="#">Bar Orders</a>
												</li>
												<li>
													<a href="#">Restaurant Orders</a>
												</li>
												<li>
													<a href="#"> Room Cleaning Requests </a>
												</li>
												<li>
													<a href="#"> Laundry Cleaning Requests </a>
												</li>
												<li>
													<a href="#"> Facility Booking </a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">
												System Settings<span class="fa arrow"></span
											></a>
											<ul class="nav nav-third-level">
												<li>
													<a href="#">Backup System</a>
												</li>
												<li>
													<a href="#">Restore System</a>
												</li>
											</ul>
											<!-- /.nav-third-level -->
										</li>
									</ul>
									<!-- /.nav-second-level -->
								</li>
							</ul>
						</div>
					</div>
				</nav>

				<%- body %>
			</div>
		</div>

		<!-- jQuery -->
		<script src="/admin/js/jquery.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/js/bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="/admin/js/metisMenu.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/admin/js/startmin.js"></script>

		<!-- Custom Javascript | Main file -->
		<script src="/admin/js/scripts.js"></script>
	</body>
</html>
