<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="Oboge Guest House" content="Hotel Management System" />
    <meta name="Mike Teddy Omondi" content="Founder, Rancko Solutions LLC" />
    <title><%= title %> | Oboge Guest House</title>
</head>
<body>
    <div id="#" class="container"><%- body %></div>

    <!-- Custom Javascript | Main file -->
    <script src="/admin/js/scripts.js"></script>
</body>
</html>