<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta http-equiv="refresh" content="1800" />
		<meta name="Oboge Guest House" content="Hotel Management System" />
		<meta name="Mike Teddy Omondi" content="Founder, Rancko Solutions LLC" />
		<title><%= title %> | Oboge Guest House</title>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
		<!-- Bootstrap Minified CSS -->
		<link href="/panel/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Bootstrap CSS -->
		<link href="/panel/css/bootstrap.css" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>

		<!-- Datepicker CSS -->
		<link href="/panel/css/datepicker.css" rel="stylesheet" />

		<!-- Custom CSS -->
		<link href="/panel/css/panel.css" rel="stylesheet" />

		<!-- Custom Fonts -->
		<link
			href="/panel/css/font-awesome.min.css"
			rel="stylesheet"
			type="text/css"
		/>
	</head>

	<body>
		<!-- Navbar -->
		<nav class="navbar fixed-top navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="/user-panel">User Panel</a>
				<ul class="nav justify-content-end">
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							data-bs-toggle="dropdown"
							id="navbarDropdown"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
						>
							Notifications
							<span class="badge badge-pill badge-warning">5</span>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a class="dropdown-item" href="#">
									<div>
										<i class="fas fa-comment fa-fw"></i> New Booking
										<span class="pull-right text-muted small">
											4 minutes ago
										</span>
									</div>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<div>
										<i class="fas fa-beer fa-fw"></i> 3 New Bar Order
										<span class="pull-right text-muted small">
											12 minutes ago
										</span>
									</div>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<div>
										<i class="fas fa-envelope fa-fw"></i> Message Sent
										<span class="pull-right text-muted small">
											4 minutes ago
										</span>
									</div>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<div>
										<i class="fas fa-tasks fa-fw"></i> New Laundry Request
										<span class="pull-right text-muted small">
											4 minutes ago
										</span>
									</div>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<div>
										<i class="fas fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">
											4 minutes ago
										</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="dropdown-item" class="text-center" href="#">
									<strong>See All Notifications</strong>
									<i class="fas fa-angle-right"></i>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							data-bs-toggle="dropdown"
							id="navbarDropdown"
							href="#"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<%= user.name %>
						</a>
						<ul
							class="dropdown-menu dropdown-user"
							aria-labelledby="navbarDropdown"
							role="menu"
						>
							<li>
								<a class="dropdown-item" href="#">
									<i class="fas fa-user"></i> User Profile
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="fas fa-gear"></i> Settings
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="dropdown-item" href="/users/logout">
									<i class="fas fa-sign-out"></i> Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div id="#" class="container"><%- body %></div>

		<!-- Scripts -->
		<!-- jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap5@1.1.9/src/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap5@1.1.9/dist/index.min.js"></script>

		<!-- Datepicker JavaScript -->
		<script src="/panel/js/bootstrap-datepicker.js "></script>

		<!-- Bootstrap Minified JavaScript -->
		<script src="/panel/js/bootstrap.min.js "></script>

		<!-- Bootstrap JavaScript -->
		<script src="/panel/js/bootstrap.js "></script>

		<!-- Custom Javascript | Main file -->
		<script src="/panel/js/scripts.js "></script>

		<!-- jQuery -->
		<script src="/admin/js/jquery.min.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/js/bootstrap.min.js"></script>
	</body>
</html>
