<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-link" href="#"
        ><i class="fa fa-bed"></i> Oboge Guest House</a
      >
    </div>
  </div>
</nav>
<div class="jumbotron" id="jumbotron">
  <h1>Sorry! Page not found</h1>
  <p>
    <a class="btn btn-primary" role="button" href="/"
      ><i class="glyphicon glyphicon-exclamation-sign"></i> Go Back</a
    >
  </p>
</div>
<footer id="footer">
  <div class="row">
    <div class="col-md-4 col-sm-3 footer-contacts">
      <div>
        <span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p>
          <span class="new-line-span">Awasi Town</span> Kisumu County, Kenya.
        </p>
      </div>
      <div>
        <i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left">+254-721-238658</p>
      </div>
      <div>
        <i class="fa fa-envelope footer-contacts-icon"></i>
        <p><a href="#" target="_blank">info@obogeguesthouse.com</a></p>
      </div>
      <div>
        <p class="company-name">
          All Rights Reserved © <%= new Date().getFullYear();%> | Designed by
          Rancko Solutions Incorporation.
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
