<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="./homepage"><i class="fa fa-bed"></i>
                Hotel Management System</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" role="presentation"><a href="#jumbotron"><i class="glyphicon glyphicon-home"></i>
                        Home </a></li>
                <li role="presentation"><a href="#panel"><i class="glyphicon glyphicon-about"></i> About </a></li>
                <li role="presentation"><a href="#thumbnails"> <i class="glyphicon glyphicon-service"></i> Services
                    </a></li>
                <li role="presentation"><a href="#footer"> <i class="glyphicon glyphicon-service"></i> Contact </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron" id="jumbotron">
    <h1>Oboge Guest House</h1>
    <p>The luxurious hotel you'll ever visit with all our accomodation, bar, restaurant and facilities placed and
        set at affordable prices.</p>
    <p><a class="btn btn-default" role="button" href="#jumbotron"><i class="glyphicon glyphicon-book"></i> Book
            Now</a></p>
</div>
<div id="panel" class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="display: flex; justify-content: center;">About Us</h3>
            </div>
            <div class="panel-body">
                <p>Our hotel suites being one of a kind in the area it offers more than what you would think. We
                    provide accomodation, bar and restaurant in our core services so as to give you our guest the
                    best customer experience</p>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="well well-lg">
                            <h4>Accomodation</h4>
                            <p>We definitely have a variety of elegant and luxurious rooms to offer for an awesome
                                chilling escapade or a vacation. Our hotel suites are well equipped all for the
                                guest's comfort and also not leaving out spending quality time. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well well-lg">
                            <h4>Bar</h4>
                            <p>It always feels good to have that nice cold drink while relaxing in our hotel suites.
                                Having professional bartenders, you'll be served with your utmost interest at heart
                                for the ultimate customer experience.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well well-lg">
                            <h4>Restaurant</h4>
                            <p>The guest house is equipped with a nice dining area with all your dream food menu
                                ready to be served to you at your request. Food as per the menu can be delivered
                                straight to your room, upon you order made.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="panel-footer">
                    Panel Footer
                </div> -->
        </div>
    </div>
</div>
<div id="search_form" class="row">
    <div class="form-group">
        <h2>Search rooms available</h2>
        <div id="form_content">
            <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> Check-in date </label>
            <input type="date">
            <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> Check-out date</label>
            <input type="date">
            <label class="control-label"><i class="glyphicon glyphicon-user"></i> Adults</label>
            <input type="number">
            <label class="control-label"><i class="glyphicon glyphicon-user"></i>Children</label>
            <input type="number">
        </div>
        <button class="btn btn-primary btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i> Search
            availability</button>
    </div>
</div>
<div id="thumbnails">
    <div class="thumbnail"><img src="img/room_single.jpg">
        <div class="caption">
            <h3>Single Bedroom</h3>
            <p>Price: KShs. 5,000 / $ 50</p>
            <p>Single bed</p>
            <p>220 sqft</p>
            <p> <i class="fa fa-wifi"></i> <i class="glyphicon glyphicon-earphone"></i> <i
                    class="material-icons">hot_tub</i></p>
            <button class="btn btn-default btn-block" type="button">Check Room</button>
        </div>
    </div>
    <div class="thumbnail"><img src="img/room_double.jpg">
        <div class="caption">
            <h3>Double Bedroom</h3>
            <p>Price: KShs. 14,500 / $ 138</p>
            <p>Queen-size bed</p>
            <p>560 sqft</p>
            <p> <i class="fa fa-wifi"></i> <i class="glyphicon glyphicon-earphone"></i> <i
                    class="material-icons">hot_tub</i> <i class="fa fa-tv"></i></p>
            <button class="btn btn-default btn-block" type="button">Check Room</button>
        </div>
    </div>
    <div class="thumbnail"><img src="img/room_deluxe.jpg">
        <div class="caption">
            <h3>Deluxe Bedroom</h3>
            <p>Price: KShs. 19,000 / $ 179</p>
            <p>King-size bed</p>
            <p>769 sqft</p>
            <p> <i class="fa fa-wifi"></i> <i class="glyphicon glyphicon-earphone"></i> <i
                    class="material-icons">hot_tub</i> <i class="fa fa-tv"></i> <i
                    class="glyphicon glyphicon-glass"></i><i class="material-icons">restaurant</i></p>
            <button class="btn btn-default btn-block" type="button">Check Room</button>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <h3><a href="./homepage">Oboge Guest House</a></h3>
            <p class="links"><a href="#jumbotron">Home</a><strong> · </strong><a href="#panel">About</a><strong> ·
                </strong><a href="#thumbnails">Services</a><strong> · </strong><a href="#footer">Contacts</a><strong> ·
                </strong></p>
            <p class="company-name">All Rights Reserved © 2020 | Designed by Rancko Solutions Incorporation.</p>
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Awasi Town</span> Kisumu County, Kenya.</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +254-721-238658</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">info@obogeguesthouse.com</a></p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 footer-about">
            <h4>About the guest house</h4>
            <p>Our hotel suites being one of a kind in the area it offers more than what you would think. We provide
                accomodation, bar and restaurant in our core services so as to give you our guest the best customer
                experience.
            </p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                        class="fa fa-twitter"></i></a></div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>