
<section id="intros">
    <div class="intro-contents">
      <h2>Search Room Availability</h2>
      <div>
        <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> Check-in date </label>
        <input type="date">
        <label class="control-label"><i class="glyphicon glyphicon-calendar"></i> Check-out date</label>
        <input type="date">
        <label class="control-label"><i class="glyphicon glyphicon-user"></i> Adults</label>
        <input type="number">
        <label class="control-label"><i class="glyphicon glyphicon-user"></i>Children</label>
        <input type="number">
        <button type="submit" class="btn-get-starteds">Search</button>
      </div>
    </div>
</section>