<div id="main-row" class="row">
  <h1>Bookings | Accomodations</h1>
  <div class="form">
    <h5>Customer Details:</h5>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="Firstname"
        />
        <label for="floatingInputGrid">Firstname</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Lastname"
        />
        <label for="floatingInputGrid">Lastname</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="id-number"
          name="id-Number"
          placeholder="ID Number/ Passport/ Driver License"
        />
        <label for="floatingInputGrid">Identification number</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="tel"
          class="form-control"
          id="phone-number"
          placeholder="Phone number"
        />
        <label for="floatingInputGrid">Phone number</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-ID"
          placeholder="Email address"
        />
        <label for="floatingInputGrid">Email address</label>
      </div>
    </div>
    <h5>Booking Details:</h5>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="numberAdults"
          placeholder="Number of Adults"
        />
        <label for="floatingInputGrid">Number of Adults</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          id="numberKids"
          placeholder="Number of Kids"
        />
        <label for="floatingInputGrid">Number of Kids</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelectGrid"
          aria-label="Floating label select example"
        >
          <option selected="1">Single Room</option>
          <option value="2">Double Room</option>
          <option value="3">Deluxe Room</option>
        </select>
        <label for="floatingSelectGrid">Room Type</label>
      </div>
    </div>
  </div>
</div>
