<div id="main-row" class="row">
    <div class="mt-2">
        <a href="/user-panel" class="btn btn-secondary rounded">&#x21d0;</a>
    </div>
    <h1>Bookings | Accomodations</h1>
    <hr>
    <%- include ('../partials/messages') %>
        <form id="bookingForm" class="form" action="/user-panel/bookings" method="POST">
            <div class="form row">
                <fieldset>
                    <legend class="mb-3">Customer Details:</legend>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname" required />
                            <label for="floatingInputGrid">Firstname</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" required />
                            <label for="floatingInputGrid">Lastname</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="id_number" name="id_number" placeholder="ID Number/ Passport/ Driver License" required />
                            <label for="floatingInputGrid">Identification number</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Phone number" required />
                            <label for="floatingInputGrid">Phone number</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required />
                            <label for="floatingInputGrid">Email address</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr>
            <div class="form row">
                <fieldset>
                    <legend class="mb-3">Booking Details:</legend>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="numberAdults" name="numberAdults" placeholder="Number of Adults" required />
                            <label for="floatingInputGrid">Number of Adults</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="numberKids" name="numberKids" placeholder="Number of Kids" required />
                            <label for="floatingInputGrid">Number of Kids</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select" id="roomType" name="roomType">
                              <option selected="basicRoom ">Basic Room</option>
                              <option value="economyRoom ">Economy Room</option>
                              <option value="standardRoom ">Standard Room</option>
                              <option value="executiveRoom ">Executive Room</option>
                            </select>
                            <label for="floatingSelectGrid ">Room Type</label>
                        </div>
                    </div>
                    <div class="col-md ">
                        <div class="form-floating ">
                            <select class="form-select " id="roomNumber" name="roomNumber">
                              <option value="roomG001 ">Room G001</option>
                              <option value="roomG002 ">Room G002</option>
                              <option value="roomG003 ">Room G003</option>
                              <option value="roomG004 ">Room G004</option>
                              <option value="roomG005 ">Room G005</option>
                              <option value="roomG006 ">Room G006</option>
                              <option value="roomG007 ">Room G007</option>
                              <option value="roomG008 ">Room G008</option>
                              <option value="roomG009 ">Room G009</option>
                              <option value="roomG010 ">Room G010</option>
                              <option value="roomF111 ">Room F111</option>
                              <option value="roomF112 ">Room F112</option>
                              <option value="roomF113 ">Room F113</option>
                              <option value="roomF114 ">Room F114</option>
                              <option value="roomF115 ">Room F115</option>
                              <option value="roomF116 ">Room F116</option>
                              <option value="roomF117 ">Room F117</option>
                              <option value="roomF118 ">Room F118</option>
                              <option value="roomF119 ">Room F119</option>
                              <option value="roomF110 ">Room F110</option>
                              <option value="roomF111 ">Room F111</option>
                              <option value="roomF112 ">Room F112</option>
                              <option value="roomT301 ">Room T301</option>
                              <option value="roomT302 ">Room T302</option>
                              <option value="roomT303 ">Room T303</option>
                              <option value="roomT304 ">Room T304</option>
                              <option value="roomT305 ">Room T305</option>
                              <option value="roomT306 ">Room T306</option>
                              <option value="roomT307 ">Room T307</option>
                              <option value="roomT308 ">Room T308</option>
                              <option value="roomT309 ">Room T309</option>
                              <option value="roomT310 ">Room T310</option>
                              <option value="roomT311 ">Room T311</option>
                              <option value="roomT312 ">Room T312</option>
                              <option value="roomT313 ">Room T313</option>
                              <option value="roomF401 ">Room F401</option>
                              <option value="roomF402 ">Room F402</option>
                              <option value="roomF403 ">Room F403</option>
                              <option value="roomF404 ">Room F404</option>
                              <option value="roomF405 ">Room F405</option>
                              <option value="roomF406 ">Room F406</option>
                              <option value="roomF407 ">Room F407</option>
                              <option value="roomF408 ">Room F408</option>
                              <option value="roomF409 ">Room F409</option>
                              <option value="roomF410 ">Room F410</option>
                              <option value="roomF411 ">Room F411</option>
                              <option value="roomF412 ">Room F412</option>
                              <option value="roomF413 ">Room F413</option>
                            </select>
                            <label for="floatingInputGrid ">Room number</label>
                        </div>
                    </div>
                    <div class="col md mt-3">
                        <div class="form mb-3">
                            <label for="check_in_date" class="">Check-in Date :</label>
                            <br>
                            <input type="date" id="check_in_date" name="check_in_date">
                        </div>
                    </div>
                    <div class="col md ">
                        <div class="form mb-3 ">
                            <label for="check_out_date" class="">Check-out Date :</label>
                            <br>
                            <input type="date" id="check_out_date" name="check_out_date">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form row">
                <div class="mt-3 mb-5">
                    <input type="button" class="btn btn-secondary" value="Cancel" name="Cancel">
                    <input type="submit" class="btn btn-primary" value="Save" name="Save">
                </div>
            </div>
        </form>
</div>