<div id="main-row" class="row">
  <div class="row">
    <a href="/user-panel" class="">&#x21d0;</a>
  </div>
  <h1>Bookings | Accomodations</h1>
  <% include ../partials/messages %>
  <form id="bookingForm" class="form" action="/user-panel/bookings" method="POST">
    <div class="form row">
      <h5 class="mb-3">Customer Details:</h5>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            placeholder="Firstname"
          />
          <label for="floatingInputGrid">Firstname</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            placeholder="Lastname"
          />
          <label for="floatingInputGrid">Lastname</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="idNumber"
            name="idNumber"
            placeholder="ID Number/ Passport/ Driver License"
          />
          <label for="floatingInputGrid">Identification number</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Phone number"
          />
          <label for="floatingInputGrid">Phone number</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email_ID"
            name="email_ID"
            placeholder="Email address"
          />
          <label for="floatingInputGrid">Email address</label>
        </div>
      </div>
    </div>
    <div class="form row">
      <h5 class="mb-3">Booking Details:</h5>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="numberAdults"
            name="numberAdults"
            placeholder="Number of Adults"
          />
          <label for="floatingInputGrid">Number of Adults</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="numberKids"
            name="numberKids"
            placeholder="Number of Kids"
          />
          <label for="floatingInputGrid">Number of Kids</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select
            class="form-select"
            id="room_type_select"
            name="room_type_select"
          >
            <option selected="SingleRoom">Single Room</option>
            <option value="DoubleRoom">Double Room</option>
            <option value="DeluxeRoom">Deluxe Room</option>
          </select>
          <label for="floatingSelectGrid">Room Type</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <select
            class="form-select"
            id="room_number_select"
            name="room_number_select"
          >
            <option value="1">Room G1</option>
            <option value="2">Room G2</option>
            <option value="3">Room G3</option>
            <option value="4">Room G4</option>
            <option value="5">Room G5</option>
            <option value="6">Room G6</option>
            <option value="7">Room G7</option>
            <option value="8">Room G8</option>
            <option value="9">Room G9</option>
            <option value="10">Room F1</option>
            <option value="11">Room F2</option>
            <option value="12">Room F3</option>
            <option value="13">Room F4</option>
            <option value="14">Room F5</option>
            <option value="15">Room F6</option>
            <option value="16">Room F7</option>
            <option value="17">Room F8</option>
            <option value="18">Room F9</option>
            <option value="19">Room S1</option>
            <option value="20">Room S2</option>
            <option value="21">Room S3</option>
            <option value="22">Room S4</option>
            <option value="23">Room S5</option>
            <option value="24">Room S6</option>
            <option value="25">Room S7</option>
            <option value="26">Room S8</option>
            <option value="27">Room S9</option>
            <option value="28">Room T1</option>
            <option value="29">Room T2</option>
            <option value="30">Room T3</option>
            <option value="31">Room T4</option>
            <option value="32">Room T5</option>
            <option value="33">Room T6</option>
            <option value="34">Room T7</option>
            <option value="35">Room T8</option>
            <option value="36">Room T9</option>
          </select>
          <label for="floatingInputGrid">Room number</label>
        </div>
      </div>
      <div class="col md">
        <div class="form-floating">
          <!-- <label for="check-in-date">Check-in Date</label> -->
          <input type="date" id="check_out_date" name="check_out_date">
        </div>
      </div>
      <!-- <div class="col md">
        <div class="form-floating">
          <label for="check-out-date">Check-out Date</label>
          <input type="date" id="check-out-date">
        </div>
      </div> -->
    </div>
    <div class="form row">
      <div class="mt-3">
        <input type="button" class="btn btn-secondary" value="Cancel" name="Cancel">
        <input type="submit" class="btn btn-primary" value="Save" name="Save">
      </div>
    </div>
  </form>
</div>
