<div id="main-row" class="row">
	<div class="mt-2">
		<a href="/user-panel/bookings" class="btn btn-secondary rounded"
			>&#x21d0;
		</a>
	</div>
	<h1>Bookings | Accomodations</h1>
	<hr />
	<%- include ('../partials/messages') %>
	<form
		id="newCustomerForm"
		class="form"
		action="/user-panel/bookings/new-customer"
		method="POST"
	>
		<div class="form row">
			<fieldset>
				<legend class="mb-3">Customer Details:</legend>
				<div class="col-md">
					<div class="form-floating">
						<input
							type="text"
							class="form-control"
							id="firstname"
							name="firstname"
							placeholder="Firstname"
						/>
						<label for="floatingInputGrid">Firstname</label>
					</div>
				</div>
				<div class="col-md">
					<div class="form-floating">
						<input
							type="text"
							class="form-control"
							id="lastname"
							name="lastname"
							placeholder="Lastname"
						/>
						<label for="floatingInputGrid">Lastname</label>
					</div>
				</div>
				<div class="col-md">
					<div class="form-floating">
						<input
							type="text"
							class="form-control"
							id="id_number"
							name="id_number"
							placeholder="ID Number/ Passport/ Driver License"
						/>
						<label for="floatingInputGrid">Identification number</label>
					</div>
				</div>
				<div class="col-md">
					<div class="form-floating">
						<input
							type="tel"
							class="form-control"
							id="phone_number"
							name="phone_number"
							placeholder="Phone number"
						/>
						<label for="floatingInputGrid">Phone number</label>
					</div>
				</div>
				<div class="col-md">
					<div class="form-floating mb-3">
						<input
							type="email"
							class="form-control"
							id="email"
							name="email"
							placeholder="Email address"
						/>
						<label for="floatingInputGrid">Email address</label>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="form row">
			<div class="mt-3 mb-2">
				<input
					type="button"
					class="btn btn-secondary"
					value="Cancel"
					name="Cancel"
				/>
				<input type="submit" class="btn btn-primary" value="Save" name="Save" />
			</div>
		</div>
		<hr />
	</form>
</div>
