<!-- Navbar Brand  link -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/user-panel">User Panel</a>
  </div>
</nav>

<div id="main-row" class="row">
  <h1>Dashboard</h1>
  <div id="card-row" class="row">
    <div class="card text-center text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Accomodation</h5>
        <p class="card-text">
          Make reserve bookings, check-in on arrivals and check-outs here.
        </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="./user-panel/bookings" class="btn btn-primary btn-lg"
            >Invoice</a
          >
        </div>
      </div>
    </div>
    <div class="card text-center text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Bar</h5>
        <p class="card-text">Issue an invoice for all bar stocks here.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/user-panel/bar" class="btn btn-primary btn-lg">Invoice</a>
        </div>
      </div>
    </div>
    <div class="card text-center text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Restaurant</h5>
        <p class="card-text">
          Issue out the bill for all the menu requested for here.
        </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/user-panel/restaurant" class="btn btn-primary btn-lg"
            >Invoice</a
          >
        </div>
      </div>
    </div>
    <div class="card text-center text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Facility</h5>
        <p class="card-text">
          Issue out a receipt for all facility utilzed here.
        </p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="/user-panel/facilities" class="btn btn-primary btn-lg"
            >Invoice</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
