<section id="intro">

    <div class="intro-content">
      <h2>The Best Online <span>Hotel Reservation</span><br>in the World!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Explore First</a>
        <a href="#portfolio" class="btn-projects scrollto">Book Immediately</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

  </section><!-- #intro -->