 <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
        <div class="container">
          <div class="section-header">
            <h2>Our Rooms</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
          </div>
        </div>
  
        <div class="container-fluid">
          <div class="row no-gutters">
  
            <div class="col-lg-4 col-md-4">
              <div class="portfolio-item wow fadeInUp">
                <a href="/single">
                  <img src="img/portfolio/1.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div><h2 class="wow fadeInUp" style="align-content: center; padding-top: 30%;">Single Rooms</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4">
              <div class="portfolio-item wow fadeInUp">
                <a href="/double">
                  <img src="img/portfolio/2.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div><h2 class="wow fadeInUp" style="align-content: center; padding-top: 30%;">Double Rooms</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-4">
              <div class="portfolio-item wow fadeInUp">
                <a href="img/portfolio/3.jpg" class="portfolio-popup">
                  <img src="img/portfolio/3.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp">Deluxe</h2></div>
                  </div>
                </a>
              </div>
            </div>

  
           
  
          </div>
  
        </div>
      </section><!-- #portfolio -->